.card {
    background-color: rgb(232, 221, 175);
    border-radius: 0.25rem;
    box-shadow: 0rem 1.125rem 1.5rem rgb(0 0 0 / 12%);
    width: 30rem;
  }
  
iframe {
    border-bottom: 0.50rem solid rgb(0, 0, 0);
    border-radius: 0.25rem 0.25rem 0 0;
    height: auto;
    width: 100%;
  }